body {
  background-color: #0f6aae; 
  color: white; 
  letter-space: 08em; 
  padding: 0px; 
} 

h1 { 
  font-family: sans serif, helvetica, arial;
  font-weight: 1.4em; 
  text-align: centre;
}
 
h2 {
  font-family: serif, helvetica, arial;
  text-align: centre;
}

h3 {
  font-family: sans serif;
}

p { 
   font-family: serif, helvetica, arial;
   word-spacing: nomral; 
   font-size: 1.2em;
  }

ul {
  font-family:  serif, helvetica, arial;
  font-size: 1.2em;
  text-align: center;
  padding: 0px; 
} 

li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
}
