body {
  background-color: lightblue;
}

body {
  color: white;
  font-family: ,Arial Hevetica, sans serif; 
  letter-space: 08em; 
  font-size: 1.4em; 
  text-align: center;
  padding: 0px; 
} 

ul {
  text-align: center;
  padding: 0px; 
} 

li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
}

h1 { 
  font-wieht: 200; 
  font-family: 
    
 p {
     word-spacing: 1.2em; 
  }